.my-orders {
    margin: 50px 0;
}

.my-orders .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-orders {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    font-size: 14px;
    color: #454545;
    border: 1px solid #FB6A9A;
}

.my-orders-orders img {
    width: 50px;
}

.my-orders-orders p span {
    color: #FB6A9A;
}

.my-orders-orders p b {
    font-weight: 500;
    color: #454545;
}

.my-orders-orders button {
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #FB6A9A;
    cursor: pointer;
    color: #454545;
}

@media(max-width:900px) {
    .my-orders-orders {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }

    .my-orders-orders button {
        font-size: 10px;
        margin: 1px;
    }
}