.userTable{
    @apply bg-white p-4
}
.userTable th{
    @apply border text-base font-medium
}
.userTable td{
    @apply border text-base text-center
}
/* .bg-white {
    background-color: white;
    /* padding-bottom: 1rem; *
  }
  
  @media (max-width: 1200px) {
    .bg-white {
      padding: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .bg-white {
      padding: 0.5rem;
    }
  
    .ant-table th, .ant-table td {
      font-size: 0.875rem;
      padding: 0.5rem;
    }
  
    .ant-table-thead > tr > th {
      white-space: nowrap;
    }
  
    .ant-table-tbody > tr > td {
      white-space: nowrap;
    }
  } */
  